**/.venv/
**/local/
**/.git/

# Large/generated content
**/node_modules/
**/*.log
**/*.db
**/*.sqlite
**/*.cache
**/cache/
**/Cache/

# Session/runtime data
**/*session*
**/*history*

# App-managed/machine-specific
github-copilot/
raycast/extensions/
configstore/
op/
refact/
mise/
yarn/global/node_modules/

oh-my-zsh/
!oh-my-zsh/custom/

cheat/cheatsheets/community/
